{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://pulstoredemo.princeton.edu/lae/boxes/puls:00014.xml",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Etag": [
            "\"85aa6f6ee9ba40b14aa5956d8d4fef4b\""
          ],
          "Status": [
            "200 OK"
          ],
          "Content-Type": [
            "application/xml; charset=utf-8"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "<?xml version=\"1.0\"?>\n<add>\n  <doc>\n    <field name=\"id\">006tx</field>\n    <field name=\"pulstore_pid\">puls:006tx</field>\n    <field name=\"barcode\">32101093681953</field>\n    <field name=\"date_uploaded\">2014-03-31T14:23:48Z</field>\n    <field name=\"date_modified\">2014-07-23T18:52:26Z</field>\n    <field name=\"physical_number\">196</field>\n    <field name=\"project_label\">Latin American Ephemera</field>\n    <field name=\"date_display\">2006</field>\n    <field name=\"date_created\">2006</field>\n    <field name=\"sort_title\"[...]
