{"http_interactions":[{"request":{"method":"get","uri":"http://pulstoredemo.princeton.edu/lae/boxes/12345.xml","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Status":["404 Not Found"], "Content-Type":["application/xml; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\" encoding=\"UTF-8\"?\u003e\n\u003chash\u003e\n  \u003cstatus\u003e404\u003c/status\u003e\n  \u003cerror\u003eBlacklight::Exceptions::InvalidSolrID: The solr permissions search handler didn't return anything for id \"12345\"\u003c/error\u003e\n\u003c/hash\u003e\n"},"http_version":null},"recorded_at":"Tue, 16 Dec 2014 03:35:55 GMT"}],"recorded_with":"VCR 2.9.3"}