{"http_interactions":[{"request":{"method":"get","uri":"http://pulstore.princeton.edu/lae/boxes/puls:00014.xml","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"etag":["\"00c4d03e15a37d948073a7bfec851650\""], "status":["200 OK"], "content-type":["application/xml; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"\u003c?xml version=\"1.0\"?\u003e\n\u003cadd\u003e\n  \u003cdoc\u003e\n    \u003cfield name=\"id\"\u003e007t1\u003c/field\u003e\n    \u003cfield name=\"pulstore_pid\"\u003epuls:007t1\u003c/field\u003e\n    \u003cfield name=\"barcode\"\u003e32101093682233\u003c/field\u003e\n    \u003cfield name=\"date_uploaded\"\u003e2014-03-31T18:39:56Z\u003c/field\u003e\n    \u003cfield name=\"date_modified\"\u003e2015-05-01T16:46:13Z\u003[...]
