---
http_interactions:
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824.jsonld
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"800eae32c45815ff90cba90e90d8dd33"
    body:
      encoding: UTF-8
      string: '{"title":"Test Folder 1","@context":"https://bibdata.princeton.edu/context.json","@id":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824","memberOf":[{"@id":"/concern/ephemera_boxes/s8623j062b","@type":"pcdm:Collection","barcode":"00000000000000","label":"Box
        1","holding_location":"rcpxr"},{"@id":"https://hydra-dev.princeton.edu/collections/s8w32r7521","@type":"pcdm:Collection","title":"Latin
        American Ephemera"}],"edm_rights":{"@id":"http://rightsstatements.org/vocab/NKC/1.0/","@type":"dcterms:RightsStatement","pref_label":"No
        Known Copyright"},"@type":"pcdm:Object","alternative":["Alternative Title"],"creator":["Test
        Creator"],"contributor":["Test Contributor"],"publisher":["Test Publisher"],"barcode":"00000000000000","label":"Folder
        1","is_part_of":"Latin American Ephemera","coverage":["Spain"],"format":[{"@id":"https://hydra-dev.princeton.edu/vocabulary_terms/186","@type":"skos:Concept","pref_label":"Banners","exact_match":{"@id":"http://id.loc.gov/vocabulary/graphicMaterials/tgm000777"}}],"origin_place":["Spain"],"language":[{"@id":"https://hydra-dev.princeton.edu/vocabulary_terms/149","@type":"skos:Concept","pref_label":"Spanish","exact_match":{"@id":"http://id.loc.gov/vocabulary/iso639-1/es"}}],"subject":[{"@id":"https://hydra-dev.princeton.edu/vocabulary_terms/278","@type":"skos:Concept","pref_label":"Agricultural
        development projects","exact_match":{"@id":"http://id.loc.gov/authorities/subjects/sh85002306"}}],"category":["Agrarian
        and rural issues"],"description":[],"source":{"@id":null},"related_url":{"@id":null},"height":"10","width":"10","sort_title":["test
        folder 1"],"page_count":"50","created":"07/07/17 10:51:29 PM UTC","modified":"07/07/17
        11:07:26 PM UTC"}'
  recorded_at: Wed, 19 Jul 2017 15:59:55 GMT
- request:
    method: get
    uri: https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6e28ea0d85c4f088662554a46a7762ae"
    body:
      encoding: UTF-8
      string: '{"@context":"http://iiif.io/api/presentation/2/context.json","@id":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest","@type":"sc:Manifest","label":["Test
        Folder 1"],"viewingHint":"individuals","viewingDirection":"left-to-right","sequences":[{"@id":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/sequence/normal","@type":"sc:Sequence","canvases":[{"@id":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/canvas/st722hc03g","@type":"sc:Canvas","label":"color-landscape.tif","images":[{"@id":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/annotation/st722hc03g-image","@type":"oa:Annotation","motivation":"sc:painting","resource":{"@id":"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2/full/!600,600/0/default.jpg","@type":"dctypes:Image","format":"image/jpeg","width":287,"height":200,"service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}},"on":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/canvas/st722hc03g"}],"width":287,"height":200}],"viewingHint":"individuals"}],"metadata":[{"label":"Creator","value":["Test
        Creator"]},{"label":"Contributors","value":["Test Contributor"]},{"label":"Published/Created","value":["Test
        Publisher"]},{"label":"Subject","value":["278"]},{"label":"Language","value":["149"]},{"label":"Alternative
        title","value":["Alternative Title"]},{"label":"Barcode","value":"00000000000000"},{"label":"Folder
        number","value":"1"},{"label":"Page count","value":["50"]},{"label":"Geographic
        origin","value":["Spain"]},{"label":"Genre","value":["Banners"]},{"label":"Geo
        subject","value":["Spain"]},{"label":"Collection","value":["Box Number 1","Latin
        American Ephemera"]}],"thumbnail":{"@id":"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2/full/!200,150/0/default.jpg","service":{"@context":"http://iiif.io/api/image/2/context.json","@id":"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2","profile":"http://iiif.io/api/image/2/level2.json"}},"seeAlso":{"@id":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824.jsonld","format":"application/ld+json"}}'
  recorded_at: Wed, 19 Jul 2017 15:59:56 GMT
recorded_with: VCR 2.9.3
