{"http_interactions":[{"request":{"method":"get","uri":"https://hydra-dev.princeton.edu/catalog.json?f%5Bhuman_readable_type_sim%5D%5B0%5D=Ephemera%20Folder\u0026f%5Bmember_of_collections_ssim%5D%5B0%5D=Latin%20American%20Ephemera\u0026page=1","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"c94c01dd1bc9b69906cc1873eb05fee3\""]},"body":{"encoding":"UTF-8","string":"{\"response\":{\"docs\":[{\"system_create_dtsi\":\"2017-07-07T22:51:29Z\",\"system_modified_dtsi\":\"2017-07-07T23:07:32Z\",\"has_model_ssim\":[\"EphemeraFolder\"],\"id\":\"sx920fz824\",\"accessControl_ssim\":[\"7d356a92-ee39-4473-a891-617327bdbb33\"],\"hasRelatedMediaFragment_ssim\":[\"st722hc03g\"],\"hasRelatedImage_ssim\":[\"st722hc03g\"],\"depositor_ssim\":[\"tpend\"],\"depositor_tesim\":[\"tpend\"],\"title_tesim\":[\"Test Folder 1\"],\"date_uploaded_dtsi\":\"2017-07-07T22:51:29Z\",\"date_modified_dtsi\":\"2017-07-07T23:07:26Z\",\"isPartOf_ssim\":[\"admin_set/default\"],\"resource_type_tesim\":[\"186\"],\"creator_tesim\":[\"Test Creator\"],\"contributor_tesim\":[\"Test Contributor\"],\"rights_statement_tesim\":[\"http://rightsstatements.org/vocab/NKC/1.0/\"],\"publisher_tesim\":[\"Test Publisher\"],\"subject_tesim\":[\"278\"],\"language_tesim\":[\"149\"],\"barcode_ssim\":[\"00000000000000\"],\"barcode_tesim\":[\"00000000000000\"],\"folder_number_ssim\":[\"1\"],\"folder_number_tesim\":[\"1\"],\"width_ssim\":[\"10\"],\"width_tesim\":[\"10\"],\"height_ssim\":[\"10\"],\"height_tesim\":[\"10\"],\"page_count_ssim\":[\"50\"],\"page_count_tesim\":[\"50\"],\"sort_title_ssim\":[\"test folder 1\"],\"sort_title_tesim\":[\"test folder 1\"],\"alternative_title_ssim\":[\"Alternative Title\"],\"alternative_title_tesim\":[\"Alternative Title\"],\"series_ssim\":[\"Test Series\"],\"series_tesim\":[\"Test Series\"],\"geographic_origin_ssim\":[\"Spain\"],\"geographic_origin_tesim\":[\"Spain\"],\"genre_ssim\":[\"186\"],\"genre_tesim\":[\"186\"],\"geo_subject_ssim\":[\"Spain\"],\"geo_subject_tesim\":[\"Spain\"],\"alternative_ssim\":[\"Alternative Title\"],\"alternative_tesim\":[\"Alternative Title\"],\"thumbnail_path_ss\":\"/assets/work-ff055336041c3f7d310ad69109eda4a887b16ec501f35afc0a547c4adb97ee72.png\",\"suppressed_bsi\":false,\"actionable_workflow_roles_ssim\":[\"folder_works-admin\",\"folder_works-ephemera_editor\",\"folder_works-depositing\"],\"workflow_state_name_ssim\":[\"needs_qa\"],\"member_ids_ssim\":[\"st722hc03g\"],\"member_of_collections_ssim\":[\"Box Number 1\",\"Latin American Ephemera\"],\"member_of_collection_ids_ssim\":[\"s8623j062b\",\"s8w32r7521\"],\"file_set_ids_ssim\":[\"st722hc03g\"],\"admin_set_tesim\":[\"Default Admin Set\"],\"member_of_collection_slugs_ssim\":[\"lae2\"],\"box_id_ssim\":[\"s8623j062b\"],\"ephemera_project_id_ssim\":[\"1\"],\"ephemera_project_name_ssim\":[\"Latin American Ephemera\"],\"has_model_literals_ssim\":[\"EphemeraFolder\"],\"part_of_literals_ssim\":[\"{\\\"@id\\\":\\\"http://localhost:8080/fedora/rest/staging/ad/mi/n_/se/admin_set/default\\\"}\"],\"resource_type_literals_ssim\":[\"186\"],\"creator_literals_ssim\":[\"Test Creator\"],\"contributor_literals_ssim\":[\"Test Contributor\"],\"publisher_literals_ssim\":[\"Test Publisher\"],\"subject_literals_ssim\":[\"278\"],\"language_literals_ssim\":[\"149\"],\"alternative_literals_ssim\":[\"Alternative Title\"],\"barcode_literals_ssim\":[\"00000000000000\"],\"folder_number_literals_ssim\":[\"1\"],\"width_literals_ssim\":[\"10\"],\"height_literals_ssim\":[\"10\"],\"page_count_literals_ssim\":[\"50\"],\"alternative_title_literals_ssim\":[\"Alternative Title\"],\"series_literals_ssim\":[\"Test Series\"],\"geographic_origin_literals_ssim\":[\"Spain\"],\"genre_literals_ssim\":[\"186\"],\"geo_subject_literals_ssim\":[\"Spain\"],\"title_literals_ssim\":[\"Test Folder 1\"],\"human_readable_type_tesim\":[\"Ephemera Folder\"],\"read_access_group_ssim\":[\"public\"],\"edit_access_group_ssim\":[\"admin\",\"ephemera_editor\"],\"timestamp\":\"2017-07-07T23:07:40.189Z\",\"score\":1.125}],\"facets\":[{\"name\":\"human_readable_type_sim\",\"items\":[{\"value\":\"Ephemera Folder\",\"hits\":1,\"label\":\"Ephemera Folder\"}],\"label\":\"Human Readable Type Sim\"},{\"name\":\"subject_sim\",\"items\":[{\"value\":\"Agricultural development projects\",\"hits\":1,\"label\":\"Agricultural development projects\"}],\"label\":\"Subject Sim\"},{\"name\":\"language_sim\",\"items\":[{\"value\":\"Spanish\",\"hits\":1,\"label\":\"Spanish\"}],\"label\":\"Language Sim\"},{\"name\":\"based_near_sim\",\"items\":[],\"label\":\"Based Near Sim\"},{\"name\":\"file_format_sim\",\"items\":[],\"label\":\"File Format Sim\"},{\"name\":\"generic_type_sim\",\"items\":[{\"value\":\"Work\",\"hits\":1,\"label\":\"Work\"}],\"label\":\"Generic Type Sim\"},{\"name\":\"member_of_collections_ssim\",\"items\":[{\"value\":\"Box Number 1\",\"hits\":1,\"label\":\"Box Number 1\"},{\"value\":\"Latin American Ephemera\",\"hits\":1,\"label\":\"Latin American Ephemera\"}],\"label\":\"Collection\"}],\"pages\":{\"current_page\":1,\"next_page\":null,\"prev_page\":null,\"total_pages\":1,\"limit_value\":10,\"offset_value\":0,\"total_count\":1,\"first_page?\":true,\"last_page?\":true}}}"},"http_version":null},"recorded_at":"Mon, 17 Jul 2017 23:14:45 GMT"},{"request":{"method":"get","uri":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824.jsonld","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/ld+json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"800eae32c45815ff90cba90e90d8dd33\""]},"body":{"encoding":"UTF-8","string":"{\"title\":\"Test Folder 1\",\"@context\":\"https://bibdata.princeton.edu/context.json\",\"@id\":\"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824\",\"memberOf\":[{\"@id\":\"/concern/ephemera_boxes/s8623j062b\",\"@type\":\"pcdm:Collection\",\"barcode\":\"00000000000000\",\"label\":\"Box 1\",\"holding_location\":\"rcpxr\"},{\"@id\":\"https://hydra-dev.princeton.edu/collections/s8w32r7521\",\"@type\":\"pcdm:Collection\",\"title\":\"Latin American Ephemera\"}],\"edm_rights\":{\"@id\":\"http://rightsstatements.org/vocab/NKC/1.0/\",\"@type\":\"dcterms:RightsStatement\",\"pref_label\":\"No Known Copyright\"},\"@type\":\"pcdm:Object\",\"alternative\":[\"Alternative Title\"],\"creator\":[\"Test Creator\"],\"contributor\":[\"Test Contributor\"],\"publisher\":[\"Test Publisher\"],\"barcode\":\"00000000000000\",\"label\":\"Folder 1\",\"is_part_of\":\"Latin American Ephemera\",\"coverage\":[\"Spain\"],\"dcterms_type\":[{\"@id\":\"https://hydra-dev.princeton.edu/vocabulary_terms/186\",\"@type\":\"skos:Concept\",\"pref_label\":\"Banners\",\"exact_match\":{\"@id\":\"http://id.loc.gov/vocabulary/graphicMaterials/tgm000777\"}}],\"origin_place\":[\"Spain\"],\"language\":[{\"@id\":\"https://hydra-dev.princeton.edu/vocabulary_terms/149\",\"@type\":\"skos:Concept\",\"pref_label\":\"Spanish\",\"exact_match\":{\"@id\":\"http://id.loc.gov/vocabulary/iso639-1/es\"}}],\"subject\":[{\"@id\":\"https://hydra-dev.princeton.edu/vocabulary_terms/278\",\"@type\":\"skos:Concept\",\"pref_label\":\"Agricultural development projects\",\"exact_match\":{\"@id\":\"http://id.loc.gov/authorities/subjects/sh85002306\"}}],\"category\":[\"Agrarian and rural issues\"],\"description\":[],\"source\":{\"@id\":null},\"related_url\":{\"@id\":null},\"height\":\"10\",\"width\":\"10\",\"sort_title\":[\"test folder 1\"],\"page_count\":\"50\",\"created\":\"07/07/17 10:51:29 PM UTC\",\"modified\":\"07/07/17 11:07:26 PM UTC\"}"},"http_version":null},"recorded_at":"Mon, 17 Jul 2017 23:14:46 GMT"},{"request":{"method":"get","uri":"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["W/\"6e28ea0d85c4f088662554a46a7762ae\""]},"body":{"encoding":"UTF-8","string":"{\"@context\":\"http://iiif.io/api/presentation/2/context.json\",\"@id\":\"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest\",\"@type\":\"sc:Manifest\",\"label\":[\"Test Folder 1\"],\"viewingHint\":\"individuals\",\"viewingDirection\":\"left-to-right\",\"sequences\":[{\"@id\":\"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/sequence/normal\",\"@type\":\"sc:Sequence\",\"canvases\":[{\"@id\":\"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/canvas/st722hc03g\",\"@type\":\"sc:Canvas\",\"label\":\"color-landscape.tif\",\"images\":[{\"@id\":\"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/annotation/st722hc03g-image\",\"@type\":\"oa:Annotation\",\"motivation\":\"sc:painting\",\"resource\":{\"@id\":\"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2/full/!600,600/0/default.jpg\",\"@type\":\"dctypes:Image\",\"format\":\"image/jpeg\",\"width\":287,\"height\":200,\"service\":{\"@context\":\"http://iiif.io/api/image/2/context.json\",\"@id\":\"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2\",\"profile\":\"http://iiif.io/api/image/2/level2.json\"}},\"on\":\"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824/manifest/canvas/st722hc03g\"}],\"width\":287,\"height\":200}],\"viewingHint\":\"individuals\"}],\"metadata\":[{\"label\":\"Creator\",\"value\":[\"Test Creator\"]},{\"label\":\"Contributors\",\"value\":[\"Test Contributor\"]},{\"label\":\"Published/Created\",\"value\":[\"Test Publisher\"]},{\"label\":\"Subject\",\"value\":[\"278\"]},{\"label\":\"Language\",\"value\":[\"149\"]},{\"label\":\"Alternative title\",\"value\":[\"Alternative Title\"]},{\"label\":\"Barcode\",\"value\":\"00000000000000\"},{\"label\":\"Folder number\",\"value\":\"1\"},{\"label\":\"Page count\",\"value\":[\"50\"]},{\"label\":\"Geographic origin\",\"value\":[\"Spain\"]},{\"label\":\"Genre\",\"value\":[\"Banners\"]},{\"label\":\"Geo subject\",\"value\":[\"Spain\"]},{\"label\":\"Collection\",\"value\":[\"Box Number 1\",\"Latin American Ephemera\"]}],\"thumbnail\":{\"@id\":\"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2/full/!200,150/0/default.jpg\",\"service\":{\"@context\":\"http://iiif.io/api/image/2/context.json\",\"@id\":\"https://libimages1.princeton.edu/loris/plum/st%2F72%2F2h%2Fc0%2F3g-intermediate_file.jp2\",\"profile\":\"http://iiif.io/api/image/2/level2.json\"}},\"seeAlso\":{\"@id\":\"https://hydra-dev.princeton.edu/concern/ephemera_folders/sx920fz824.jsonld\",\"format\":\"application/ld+json\"}}"},"http_version":null},"recorded_at":"Mon, 17 Jul 2017 23:14:46 GMT"}],"recorded_with":"VCR 2.9.3"}