<footer class="l-footer" role="contentinfo">
    <div class="container">
        <div class="col-lg-2 pu-footer-logo">
            <a href="http://www.princeton.edu"><img src="http://local-lib.princeton.edu/sites/default/files/images/pu_logo_trans.png" alt=
            "Princeton University" width="150px" ></a>
        </div>
        <!-- pu-footer-logo end -->
        <div class="cold-lg-10 university-copyright-footer">
            <ul>
                <li><a href="http://library.princeton.edu">Princeton University Library</a></li>
                <li>Other links if desired...</li>
            </ul>
            © 2014 The Trustees of Princeton University. All
            rights reserved.
        </div>
        <!-- university-copyright-footer end -->
    </div>
</footer>