<footer class="l-footer" role="contentinfo">
    <div class="container">
        <div class="col-lg-3 pu-footer-logo">
            <a href="http://www.princeton.edu">
            <%= image_tag('pu_logo_trans.png') %>
            </a>
        </div>
        <!-- pu-footer-logo end -->
        <div class="cold-lg-9 university-copyright-footer">
            <ul>
                <li>CLIR</li>
                <li>
                <li><a href="http://library.princeton.edu">Princeton University Library</a></li>
            </ul>
            <p>
            © 2014 The Trustees of Princeton University. All
            rights reserved.
            <p>
        </div>
        <!-- university-copyright-footer end -->
    </div>
</footer>