<ul class="navbar-nav flex-row">
  <li class="nav-item"><%= link_to t('header.nav.about'), page_path('about'), class: "nav-link" %></li>
  <li class="nav-item"><%= link_to t('header.nav.contact'), page_path('contacts'), class: "nav-link" %></li>
  <li class="nav-item"><%= link_to t('header.nav.browse'), page_path('catalog', sort: 'date_modified desc', search_field:'all_fields'), class: "nav-link" %></li>
</ul>
