    <li><%= link_to 'Browse', page_path('catalog', sort: 'date_modified desc', search_field:'all_fields') %></li>
    <li><%= link_to 'About', page_path('about') %></li>
    <li><%= link_to 'Contact', page_path('contacts') %></li>
    <li><%= link_to 'Home', page_path(root_path) %></li>