{"http_interactions":[{"request":{"method":"get","uri":"http://pulstoredemo.princeton.edu/lae/boxes.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Etag":["\"f6ab9339dea64ece4d18027bed511805\""], "Status":["200 OK"], "Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","string":"[{\"last_mod_prod_folder\":null,\"created\":\"2014-04-10T15:11:28Z\",\"modified\":\"2014-08-18T14:08:24Z\",\"id\":\"puls:00bft\",\"barcode\":\"32101093688990\",\"physical_number\":2},{\"last_mod_prod_folder\":null,\"created\":\"2014-05-05T19:31:06Z\",\"modified\":\"2014-08-18T14:10:24Z\",\"id\":\"puls:00pvh\",\"barcode\":\"32101089002040\",\"physical_number\":3},{\"last_mod_prod_folder\":null,\"created\":\"2014-08-11T14:34:54Z\",\"modified\":\"2014-08-29T17:35:29Z\",\"id\":\"puls:075pr\",\"barcode\":\"32101081556977\",\"physical_number\":6},{\"last_mod_prod_folder\":null,\"created\":\"2014-08-20T19:09:56Z\",\"modified\":\"2014-10-07T16:29:18Z\",\"id\":\"puls:07bx7\",\"barcode\":\"32101081556969\",\"physical_number\":7},{\"last_mod_prod_folder\":null,\"created\":\"2014-09-15T13:50:25Z\",\"modified\":\"2014-10-15T13:44:10Z\",\"id\":\"puls:0bm57\",\"barcode\":\"32101081556951\",\"physical_number\":8},{\"last_mod_prod_folder\":null,\"created\":\"2014-10-15T14:46:49Z\",\"modified\":\"2014-11-07T16:53:09Z\",\"id\":\"puls:0d76c\",\"barcode\":\"32101081556795\",\"physical_number\":9},{\"last_mod_prod_folder\":null,\"created\":\"2014-10-30T14:54:50Z\",\"modified\":\"2014-11-25T19:55:41Z\",\"id\":\"puls:0ddfv\",\"barcode\":\"32101081556803\",\"physical_number\":10},{\"last_mod_prod_folder\":null,\"created\":\"2014-11-25T19:51:09Z\",\"modified\":\"2014-11-25T21:10:42Z\",\"id\":\"puls:0g1tc\",\"barcode\":\"32101081556811\",\"physical_number\":11},{\"last_mod_prod_folder\":{\"id\":\"puls:004kr\",\"time\":\"2014-12-05T22:23:21Z\"},\"created\":\"2014-03-21T18:28:11Z\",\"modified\":\"2014-12-04T17:15:48Z\",\"id\":\"puls:00014\",\"barcode\":\"32101081556985\",\"physical_number\":1},{\"last_mod_prod_folder\":{\"id\":\"puls:074j3\",\"time\":\"2014-10-07T19:01:15Z\"},\"created\":\"2014-07-29T17:52:21Z\",\"modified\":\"2014-12-04T17:17:48Z\",\"id\":\"puls:070gd\",\"barcode\":\"32101081556787\",\"physical_number\":5},{\"last_mod_prod_folder\":{\"id\":\"puls:01633\",\"time\":\"2014-10-09T19:52:50Z\"},\"created\":\"2014-05-20T18:15:18Z\",\"modified\":\"2014-12-04T17:18:39Z\",\"id\":\"puls:01277\",\"barcode\":\"32101089002065\",\"physical_number\":4}]"},"http_version":null},"recorded_at":"Fri, 05 Dec 2014 22:29:37 GMT"}],"recorded_with":"VCR 2.9.3"}