<div class="card-stats">
  <ul>
    <li>
      <%= bf[:date] %>
      <span>Date</span>
    <li>
    <li>
      <%= bf[:origin] %>
      <span>Geographic Origin</span>
    <li>
    <!--
    <% if !bf[:publisher].nil? %>
    <li>

      <%= bf[:publisher] %>
      <span>Publisher</span>
    </li>
    <% end %>
    -->
  </ul>
</div>