<%# TODO: translate here %>
<ul>
  <li>
    <%= bf[:date] %>
    <span><%= t('metadata.labels.date_display') %></span>
  <li>
  <li>
    <%= bf[:origin] %>
    <span><%= t('metadata.labels.geographic_origin_label') %></span>
  <li>
</ul>
