<% doc = get_featured_document %>
<% if doc.nil? %>
  <span>Placeholder</span>
<% else %>
  <%= link_to doc_path(doc), :class => '' do %>
    <%= render_fullsize_thumbnail(doc) %>
  <% end %>
<% end %>