<% doc = get_featured_document %>
<div class="featured-image">
  <% if doc.nil? %>
    <span>Placeholder</span>
  <% else %>
    <%= link_to doc_path(doc), :class => '' do %>
      <%= render_fullsize_thumbnail(doc) %>
    <% end %>
  <% end %>
</div>