<%= render 'shared/header_navbar' %>
<%= content_for :page_title, 'About' %>
<main role="main">
  <div class="wrapper">
    <h1>Sobre o Arquivo Digital de Ephemera da América Latina e do Caribe</h1>

    <p><em>O Arquivo Digital de Ephemera da América Latina e do Caribe</em> é a fase mais recente e mais ambiciosa no compromisso de Princeton de construir muito tempo e proporcionar acesso a suas <a href = "http://libguides sem paralelo. princeton.edu/laec">Latin American Ephemera Collection</a>. O acesso on-line aberto a este subconjunto previamente inacessível da coleção se tornou uma realidade no início de 2015 graças ao generoso apoio fornecido pelo <a href="http://www.crl.edu/rn/larrp">Projeto de recursos latinoamericanos de pesquisa (LARRP)</a> e a uma concessão de início de três anos do <a href="http://www.clir.org/hiddencollections">Conselho sobre Recursos de Biblioteca e Informação (CLIR)</a>. O objetivo da Princeton e seus parceiros é continuar a adicionar centenas de novos itens efêmeros digitalizados por mês nos próximos anos e transformar essa vasta e excepcional coleção de um arquivo praticamente inacessível em um recurso acadêmico dinâmico que irá apoiar as atividades acadêmicas presentes e futuras em interdisciplinar Estudos latino-americanos e nas ciências sociais mais amplas e nas ciências humanas.</p>

    <p>Mesmo que um número significativo de itens de anos anteriores tenha sido incluído, a maior parte dos materiais atualmente encontrados no Arquivo Digital foram originalmente criados em torno da virada do século 20 e depois, com alguns originados tão recentemente quanto no último ano. Os formatos ou gênero mais comumente incluídos são panfletos, panfletos, folhetos, folhetos, cartazes, adesivos e cartões postais. Esses itens foram criados originalmente por uma ampla gama de ativistas sociais, organizações não governamentais, agências governamentais, partidos políticos, grupos de reflexão de políticas públicas e outros tipos de organizações para divulgar seus pontos de vista, posições, agendas, políticas, eventos e actividades. A grande maioria das fontes primárias raras e difíceis de encontrar não está disponível em outros lugares.</p>

    <p>As categorias de assunto representadas no arquivo são:</p>
    <ul>
      <li>Questões agrárias e rurais</li>
      <li>Artes e cultura</li>
      <li>Crianças e jovens</li>
      <li>Economia</li>
      <li>Educação</li>
      <li>Ambiente e ecologia</li>
      <li>Problemas de gênero</li>
      <li>Saúde</li>
      <li>Direitos humanos e civis</li>
      <li>Trabalho</li>
      <li>Minorias, grupos étnicos e raciais</li>
      <li>Política e governo</li>
      <li>Religião</li>
      <li>Ciência e tecnologia</li>
      <li>Condições socioeconômicas e desenvolvimento</li>
      <li>Turismo</li>
    </ul>
     
    <p>Todas essas categorias de assuntos foram divididas em várias subcategorias.</p>

    <p>Mesmo que os materiais produzidos na Argentina, Bolívia, Chile e Venezuela sejam atualmente os mais abundantes no repositório, quase todos os países da região estão representados. Um esforço está sendo feito para fornecer uma cobertura mais equilibrada no futuro.</p>

    <h2>História da Colecção Ephemera Latino-Americana</h2>

    <p>A Biblioteca da Universidade de Princeton começou a colecionar literatura efêmera e cinética latino-americana na década de 1970. Barbara Hadley Stein, primeira bibliógrafa da Universidade da América Latina, Espanha e Portugal (1966-1977), procurou inicialmente documentar alguns dos principais desenvolvimentos políticos do período, incluindo o surgimento do poder das ditaduras militares, dos golpes de Estado, institucionalização da Revolução cubana e as respostas populares a esses desenvolvimentos. O seu sucessor, Peter T. Johnson (1977-2003), expandiu o escopo geográfico e temático da coleção e sistematizou o processo de organização, catalogação e preservação. Fernando Acosta-Rodríguez, o atual bibliotecário da Princeton para estudos latino-americanos, ibéricos e latinos, supervisionou a coleção desde 2003.</p>

    <p>Antes do <em>Arquivo Digital de Ephemera da América Latina e do Caribe</em> estar disponível no início de 2015, o acesso ao material foi fornecido pelo desenvolvimento lento de sub-coleções temáticas, catalogação e microfilmagem e, em muitos casos , criando correspondentes auxiliares de busca. Aproximadamente 350 sub-coleções foram processadas de tal maneira ao longo dos anos. Eles permanecem acessíveis apenas através de empréstimo entre bibliotecas ou visitando a Universidade de Princeton pessoalmente. Por favor, veja o <a href="http://libguides.princeton.edu/laemicro">Ephemera latino-americano em microfilme e coleções especiais</a> para uma visão geral dessas sub-coleções.</p>

    <p>A criação de um arquivo digital que oferece acesso aberto à coleção se tornou um objetivo, uma vez que ficou claro que o modelo de acesso descrito anteriormente era insustentável. Embora tenha levado alguns anos para conceber e construir suporte para um projeto digital, a coleta de coisas efêmeras continuou ininterruptamente e uma vasta carteira de aproximadamente 12 mil itens efêmeros se desenvolveu e permaneceu essencialmente indisponível para os pesquisadores. Esse backlog agora está sendo digitalizado e transformado em conteúdo fundamental do <em>Arquivo Digital de Ephemera de América Latina e Caribe</em>.</p>

    <h2>Copyright</h2>

    <p>A Biblioteca da Universidade de Princeton disponibiliza os conteúdos do <em>Arquivo Digital de Ephemera de América Latina e Caribe</em> para apoiar pesquisa, ensino e estudo privado. A Universidade de Princeton não possui os direitos autorais de nenhum dos materiais incluídos. Os detentores de direitos autorais preocupados com a violação dos seus direitos legais podem apresentar um pedido de retirada do conteúdo pertinente <%= link_to "aqui", page_path('contacts') %>.</p>

    <h2>Citação preferida</h2>
    <p>[Identificação do item], Arquivo Digital de Ephemera da América Latina e do Caribe, Biblioteca da Universidade de Princeton.</p>

  </div>
</main>
