<%= render 'shared/header_navbar' %>
<%= content_for :page_title, 'About' %>
<main role="main">
  <div class="wrapper">
    <h1>Acerca del archivo digital de Ephemera de América Latina y el Caribe</h1>

    <p><em>El Archivo digital de Ephemera de América Latina y el Caribe</em> es la última y más ambiciosa fase del compromiso de larga data de Princeton para construir y proporcionar acceso a sus <a href = "http://libguides.princeton.edu/laec">Latin American Ephemera Collection</a>. El acceso en línea abierto a este subconjunto previamente inaccesible de la colección se hizo realidad a principios de 2015 gracias al generoso apoyo brindado por el <a href="http://www.crl.edu/grn/larrp">Proyecto de Recursos de Investigación de América Latina. (LARRP)</a> y una subvención inicial de tres años del <a href="http://www.clir.org/hiddencollections">Consejo de Biblioteca y Recursos de Información (CLIR)</a>. El objetivo de Princeton y sus socios es continuar agregando cientos de nuevos elementos efímeros digitalizados por mes en los próximos años y convertir esta vasta y excepcional colección de un archivo prácticamente inaccesible en un dinámico recurso académico que apoyará las actividades académicas actuales y futuras en interdisciplinariedad. Estudios Latinoamericanos y en las ciencias sociales más amplias y las humanidades.</p>

    <p>Aunque se ha incluido un número significativo de elementos de años anteriores, la mayor parte de los materiales que se encuentran actualmente en el Archivo digital se crearon originalmente a comienzos del siglo XX y después, y algunos se originaron tan recientemente como en el último año. Los formatos o género más comúnmente incluidos son folletos, volantes, folletos, folletos, carteles, pegatinas y postales. Estos elementos fueron creados originalmente por una amplia gama de activistas sociales, organizaciones no gubernamentales, agencias gubernamentales, partidos políticos, grupos de expertos en políticas públicas y otros tipos de organizaciones con el fin de publicitar sus puntos de vista, posiciones, agendas, políticas, eventos y ocupaciones. La gran mayoría son fuentes primarias raras y difíciles de encontrar que no están disponibles en otros lugares.</p>

    <p>Las categorías de temas representadas en el archivo son:</p>
    <ul>
      <li>Problemas agrarios y rurales</li>
      <li>Arte y cultura</li>
      <li>Niños y jóvenes</li>
      <li>Economía</li>
      <li>Educación</li>
      <li>Medio ambiente y ecología</li>
      <li>Problemas de género</li>
      <li>Salud</li>
      <li>Derechos humanos y civiles</li>
      <li>Trabajo</li>
      <li>Minorías, grupos étnicos y raciales</li>
      <li>Política y gobierno</li>
      <li>Religión</li>
      <li>Ciencia y Tecnología</li>
      <li>Condiciones socioeconómicas y desarrollo</li>
      <li>Turismo</li>
    </ul>

    <p>Todas estas categorías de temas se han dividido en numerosas subcategorías.</p>

    <p>A pesar de que los materiales producidos en Argentina, Bolivia, Chile y Venezuela son actualmente los más abundantes en el repositorio, casi todos los países de la región están representados. Se está haciendo un esfuerzo para proporcionar una cobertura más equilibrada en el futuro.</p>

    <h2>Historia de la Colección Ephemera de América Latina</h2>

    <p>La Biblioteca de la Universidad de Princeton comenzó a recopilar ephemera de América Latina y literatura gris en la década de 1970. Barbara Hadley Stein, la primera bibliógrafa de la Universidad para América Latina, España y Portugal (1966-1977), inicialmente buscó documentar algunos de los principales acontecimientos políticos de la época, incluido el ascenso al poder de las dictaduras militares, los golpes de Estado, el la institucionalización de la Revolución Cubana y las respuestas populares a esos desarrollos. Su sucesor, Peter T. Johnson (1977-2003), amplió el alcance geográfico y temático de la colección y sistematizó el proceso de organización, catalogación y conservación. Fernando Acosta-Rodríguez, bibliotecario actual de Princeton para Estudios Latinoamericanos, Ibéricos y Latinos, ha supervisado la colección desde 2003.</p>

    <p>Antes de que el <em>Archivo digital de Ephemera de América Latina y el Caribe</em> estuviera disponible a principios de 2015, el acceso al material se proporcionaba desarrollando lentamente subcolecciones temáticas, catalográndolos y microfilmándolos, y, en muchos casos , creando las herramientas de búsqueda correspondientes. Aproximadamente 350 subcolecciones fueron procesadas de esa manera a lo largo de los años. Solo son accesibles a través de préstamos interbibliotecarios o visitando la Universidad de Princeton en persona. Consulte la <a href="http://libguides.princeton.edu/laemicro">Ephemera de América Latina en microfilm y colecciones especiales</a> para obtener una descripción general de esas subcolecciones.</p>
    <p>Crear un archivo digital que ofreciera acceso abierto a la colección se convirtió en un objetivo una vez que quedó claro que el modelo de acceso descrito previamente no era sostenible. Si bien llevó algunos años idear y generar apoyo para un proyecto digital, la recopilación de material efímero continuó ininterrumpidamente y se acumuló una gran acumulación de aproximadamente 12,000 elementos efímeros que permanecieron esencialmente inaccesibles para los investigadores. Ese retraso se está digitalizando y convirtiendo en el contenido fundamental del <em>Archivo digital de Ephemera de América Latina y el Caribe</em>.</p>

    <h2>Copyright</h2>

    <p>La Biblioteca de la Universidad de Princeton pone a disposición los contenidos del <em>Archivo digital de Ephemera de América Latina y el Caribe</em> para apoyar la investigación, la enseñanza y el estudio privado. La Universidad de Princeton no posee los derechos de autor de ninguno de los materiales incluidos. Los titulares de derechos de autor que estén preocupados por la infracción de sus derechos legales pueden enviar una solicitud para retirar el contenido pertinente <%= link_to "aquí", page_path('contacts') %>.</p>

    <h2>Cita preferida</h2>
    <p>[Identificación del elemento], Archivo digital de Ephemera de América Latina y el Caribe, Biblioteca de la Universidad de Princeton.</p>
  </div>
</main>
