<%= render 'shared/header_navbar' %>
<%= content_for :page_title, 'About' %>
<div id="main-container" class="container">

  <h1>About the Collections</h1>
  <p>
    The Princeton University Library began to collect and build an archive of Latin American ephemera and gray literature in the 1970s.  Barbara Hadley Stein, the University’s first Bibliographer for Latin America, Spain and Portugal (1966-1977), initially sought to document some of the major political developments of the period, including the rise to power of military dictatorships, coup d’états, the institutionalization of the Cuban Revolution, and the popular responses to those developments. Her successor, Peter T. Johnson (1977-2003), expanded the geographic and thematic scope of the collections and systematized the process of organizing, cataloging, and preserving them.  Princeton’s commitment to building the collection has continued uninterruptedly since then.
  </p>

  <p>
    Access to the materials was until recently provided by grouping them into thematic sub-collections, creating finding aids, and microfilming.  An introduction to the approximately 350 sub-collections which were processed in such manner and remain accessible through interlibrary loan or by visiting Princeton University in person is available in the <a href="http://libguides.princeton.edu/laec">Guide to the Latin American Ephemera Collections</a> at Princeton.
  </p>

  <p>
    Starting in 2015, the Library started providing open digital access to previously unprocessed parts of its Latin American Ephemera Collections through this site.  The plan is to continue adding approximately four hundred new digitized ephemeral items per month in the coming years.  Thanks to the generous support provided by the <a href=
    "http://www.crl.edu/grn/larrp">Latin Americanist Research Resources Project</a> (LARRP) and a three-year grant from the Cataloging Hidden Special Collections and Archives program of the <a href="http://www.clir.org/hiddencollections">Council on Library and Information Resources</a> (CLIR), Princeton is turning this exceptional collection from a practically inaccessible archive into a dynamic scholarly resource that will support present and future academic activities in interdisciplinary Latin American Studies and in the broader social sciences and the humanities.
  </p>

  <h2>COPYRIGHT</h2>

  <p>The Princeton University Library makes available the contents of the Latin American Ephemera Digital Archive Project in order to support research, teaching, and private study.  Princeton University does not hold the copyright of any of the materials included.</p>

</div>
