<%= render 'shared/header_navbar' %>
<%= content_for :page_title, 'About' %>
<main role="main">
  <div class="wrapper">
    <h1>About the Digital Archive of Latin American and Caribbean Ephemera</h1>

  <p><em>The Digital Archive of Latin American and Caribbean Ephemera</em> is the latest and most ambitious phase in Princeton’s long time commitment to building and providing access to its unparalleled <a href="http://libguides.princeton.edu/laec">Latin American Ephemera Collection</a>.  Open online access to this previously inaccessible subset of the collection became a reality in early 2015 thanks to the generous support provided by the <a href="http://www.crl.edu/grn/larrp">Latin Americanist Research Resources Project (LARRP)</a> and to a three-year starting grant from the <a href="http://www.clir.org/hiddencollections">Council on Library and Information Resources (CLIR)</a>.  The goal of Princeton and its partners is to continue adding hundreds of new digitized ephemeral items per month in the coming years and turn this vast and exceptional collection from a practically inaccessible archive into a dynamic scholarly resource that will support present and future academic activities in interdisciplinary Latin American Studies and in the broader social sciences and the humanities.</p>

  <p>Even though a significant number of items from earlier years have been included, the bulk of the materials currently found in the Digital Archive were originally created around the turn of the 20th century and after, with some originating as recently as within the last year.  The formats or genre most commonly included are pamphlets, flyers, leaflets, brochures, posters, stickers, and postcards.  These items were originally created by a wide array of social activists, non-governmental organizations, government agencies, political parties, public policy think tanks, and other types of organizations in order to publicize their views, positions, agendas, policies, events, and activities. The vast majority are rare, hard-to-find primary sources unavailable elsewhere.</p>

  <p>The subject categories represented in the archive are:</p>
  <ul>
    <li>Agrarian and rural issues</li>
    <li>Arts and culture</li>
    <li>Children and youth</li>
    <li>Economics</li>
    <li>Education</li>
    <li>Environment and ecology</li>
    <li>Gender issues</li>
    <li>Health</li>
    <li>Human and civil rights</li>
    <li>Labor</li>
    <li>Minorities, ethnic and racial groups</li>
    <li>Politics and government</li>
    <li>Religion</li>
    <li>Science and Technology</li>
    <li>Socioeconomic conditions and development</li>
    <li>Tourism</li>
  </ul>
   
  <p>All of these subject categories have been further divided into numerous subcategories.</p> 

  <p>Even though materials produced in Argentina, Bolivia, Chile, and Venezuela are currently the most abundant in the repository, almost every country in the region is represented.  An effort is being made to provide a more balanced coverage in the future.</p>

  <h2>History of the Latin American Ephemera Collection</h2>

  <p>The Princeton University Library began to collect Latin American ephemera and gray literature in the 1970s.  Barbara Hadley Stein, the University’s first Bibliographer for Latin America, Spain and Portugal (1966-1977), initially sought to document some of the major political developments of the period, including the rise to power of military dictatorships, coup d’états, the institutionalization of the Cuban Revolution, and the popular responses to those developments. Her successor, Peter T. Johnson (1977-2003), expanded the geographic and thematic scope of the collection and systematized the process of organizing, cataloging, and preserving it.  Fernando Acosta-Rodríguez, Princeton’s current Librarian for Latin American, Iberian and Latino Studies, has overseen the collection since 2003.</p> 

  <p>Before the <em>Digital Archive of Latin American and Caribbean Ephemera</em> became available in early 2015, access to the material was provided by slowly developing thematic sub-collections, cataloging and microfilming them, and, in many instances, creating corresponding finding aids.  Approximately 350 sub-collections were processed in such manner over the years.  They remain accessible only through interlibrary loan or by visiting Princeton University in person.  Please see the <a href="http://libguides.princeton.edu/laemicro">Latin American Ephemera in Microfilm and Special Collections</a> for an overview of those sub-collections.</p>

  <p>Creating a digital archive offering open access to the collection became a goal once it was clear that the previously described access model was unsustainable.  While it took some years to devise and build support for a digital project, collecting of ephemera continued uninterruptedly and a vast backlog of approximately 12,000 ephemeral items developed and remained essentially unavailable to researchers.  That backlog is now being digitized and turned into the foundational content of the <em>Digital Archive of Latin American and Caribbean Ephemera</em>.</p>

  <h2>Copyright</h2>

  <p>The Princeton University Library makes available the contents of the <em>Digital Archive of Latin American and Caribbean Ephemera</em> in order to support research, teaching, and private study.  Princeton University does not hold the copyright of any of the materials included.  Copyright holders concerned about the infringement of their legal rights may submit a request for the withdrawal of pertinent content <a href="/contacts">here</a>.</p>

  <h2>Preferred Citation</h2>
  <p>[Identification of item], Digital Archive of Latin American and Caribbean Ephemera, Princeton University Library.</p>
  </div>
</main>
