<!--
<div>
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert">×</a>
        <%= value %>
    </div>
  <% end %>
</div>
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/catalog"><%= t('catalog.return_link_text') %></a>
    </div>
  </div>  
</div>
