# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ce06aef0841426f062da8a5603fc2f27f3dce51d2f9e5848eb704c16624fa205e630b768c460aaeccb70f6a8f06b644fb606ef02b9c7d8d990692c1c72e14cec

test:
  secret_key_base: 37f75d1587a95305248adf20fc328b56bcdeb5f020dc3e234184d08282e70d76c5291aeb3c6e9c71b8b50aae41170906532b0a8077a456e1bc9dc793b5ba5558

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
