<div class="document">
  <div class="thumbnail">
    <%= link_to '#', data: { :'slide-to' => document_counter, toggle: "modal", target: "#slideshow-modal" } do %>
      <%= thumbnail_from_manifest(document) %>
    <% end %>
  </div>
</div>
