<div class="viewer-full">
  <% ids = image_ids_labels_from_manifest_as_hash(@manifest) %>
  <script>
      $('.viewer-full').iiifOsdViewer({
        data: [{
          iiifServer: 'http://libimages.princeton.edu/loris2',
          images: <%= raw ids.to_json %> }
        ]
      });
    </script>
</div>