<%#
Collapses Blacklight's app/views/catalog/_show_sidebar.html.erba and
app/views/catalog/_show_tools.html.erb into one, since we have less to show :-)
%>
<div class="panel panel-default show-tools">

  <div class="panel-heading centered">Heading Placeholder</div>
  <div class="panel-body">
    <ul class="nav">
      <li>
        <% # adds bookmark form %>
        
      </li>
    </ul>
  </div>
</div>
  
