<% if document["manifest"] != "{}" %>
  <div class="uv viewer" data-config="/uv_config.json" data-uri="<%= viewer_data_uri(solr_document_path) %>"></div>
  <%= PulUvRails::UniversalViewer.script_tag %>
<% end %>
