@import "singularitygs";
@import "breakpoint";
@import "abstraction/mixins";
@import "variables/grid";
@import "variables/colors";

.l-branding__pul {
    background: $gray-dark;
    border-top: 3px solid $orange;
    min-height: 30px;
    @include clearfix;
}
.logo__pul {
    line-height: 21px;
    height: 30px;
    margin-left: -0.7em;
    @include grid-span(12);
    clear: both;
    @include breakpoint($tab) {
        @include grid-span(6, 1);
    }
    &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    img {
        padding: 0 1em;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
        height: 18px;
        @include breakpoint($desk) {
            padding: 0;
            margin: 0;
        }
    }
}
.logo__site {
	height: 100px;
	position: absolute;
	top: 12px;
}

// Non-SVG logo
.logo-no-svg {
	display: inline-block;
}
.logo-svg {
	display: none;
}
// SVG logo 
.svg {
    .logo-no-svg {
        display: none;
    }
    .logo-svg {
        display: inline-block;
    }
}
