@import "singularitygs";
@import "breakpoint";
@import "abstraction/mixins";
@import "variables/grid";
@import "variables/colors";

.logo__site {
    position: absolute;
    top: 12px;
    margin-left: 0.5em;
    height: 100px;
    @include breakpoint(550px){
        height: 75px;
    }
    @include breakpoint(1060px){
        height: 90px;
        margin-left: 0;
    }	
}

// Non-SVG logo
.logo-no-svg {
	display: inline-block;
}
.logo-svg {
	display: none;
}
// SVG logo 
.svg {
    .logo-no-svg {
        display: none;
    }
    .logo-svg {
        display: inline-block;
    }
}
