@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';


#header-navbar {
  border-top: 5px solid #e87511;

  .navbar-brand {
    width: 338px;
  }
}

#folder_images {
  clear: both;
  margin: 0 auto;
}

.md_val_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.md_thumbnails {
  width: 100%;
  li {
      padding: 10px;
      margin: 10px;
      height: 220px;
      width: 220px;
      float: left;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #DDD;
    a {
      vertical-align: middle;
      display: block;
      text-decoration: none;
      img {
      }
    }
  }
}

.document.row {
  margin: 1em;
  padding: 1em;

  .document-counter {
    font-size: larger;
    line-height: 1.1;
    margin: 0;
    padding: 0;
  }

  .index_title {
    font-size: larger;
    margin: 0;
    padding: 0;
  }

  .document-metadata {
    margin: 1em 0 0 2em;
  }

  .document-thumbnail {
    margin: 0;
    padding: 0;
    height: 200px;
    text-align: center;
  }
}


.centered {
  text-align: center;
}

.panel-image {
  text-align: center;
  margin: 0 auto;
}

.viewer {
        border: 1px solid #ccc;
        height: 500px;
        margin: 40px 0 0 40px;
        width: 700px;
      }

.viewer-full {
        border: 1px solid #ccc;
        height: 800px;
        margin: 40px 0 0 40px;
        width: 1000px;
      }

.btn-osd-trigger {
  padding: 6px 0;
}