@import "variables/grid";

.cards {
  margin: 0.5em 0;
  padding: 0;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.5em;
  column-gap: 0.5em;
}

.cards .card {
  display: inline-block;
  padding: 1em;
  margin: 0 0 0.5em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cards .card img {
  width: 100%;
}

@media only screen and (min-width: $tab) {
  .cards {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: $tab-desk) {
  .cards {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media only screen and (min-width: $desk) {
  .cards {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}