@import "bourbon";
@import "variables/colors";

.hero {
	padding: 3em 0;
	background-image: -webkit-linear-gradient(left, rgba($gray-lighter, 0.7), rgba(255, 255, 255, 1));
	background-color: rgba(255, 255, 255, 1);
}

// button {
//   @include button(flat, #0e5a86);

//   &:hover {
//     background: lighten(#0e5a86, 10);
//   }
// }