@import "singularitygs";

footer {
    padding: 2em 0;
}

.copyright {
    @include grid-span(10,3);

    p:first-child {
        margin-bottom: 25px;
    }
}

.pu-footer-logo {
    > a img {
        height: 40px;
        display: block;
        margin-bottom: 10px;
    }
    @include grid-span(2,1);

    .logo__sponsor {
        height: 40px;
        display: inline-block;
        &:first-child {
            margin-right: 10px;
        }
    }
}