@import "bourbon";
.navbar-nav {
    a {
        color: black;
    }
}

.navbar-nav .nav-link {
    padding: 0.5em .8em;
    margin: 0.5em;
}

.navbar-nav a.nav-link:hover {
    background: white;
    border-radius: 4px;
    color: black;
}

.navbar-right {
    margin-top: 15px;
}

.site-links .nav.navbar-nav {
	float: right;
}
