@import "breakpoint";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables/colors";
@import "variables/base";
@import "variables/grid";

body {
    background: $white;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    background: white;
    padding: 1em 0 2em 0;
    @include clearfix;
}

main h2 {
  font-family: $sans-serif;
  font-size: 1.2em;
  color: inherit;
  margin: 1.5em 0;
}
main h1 {
  font-family: $sans-serif;
  font-size: 1.5em;
  color: inherit;
  margin: 1.2em 0;
}
main h3 {
    font-family: $sans-serif;
    margin-left: 0.5em;
}
main #facets h3 {
  margin-left: 0;
}

p {
  margin: 0 0 1.5em;
}

h1.site-logo {
    margin: 0;
}

.bookmark_toggle {
	display: inline-block;
}

.metadata {
    width: 100%;
}

h1 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
    line-height: 1.8em;
    margin-bottom: 1em;
}
main {
    font-size: 1.1em;
    padding: 1em;
}

#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
  background: white;
  color: #337ab7;
}

h4, .facets .facets-heading, .h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-family: 'Source Sans Pro', sans-serif;
}
